/* HTML5 Boilerplate  */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DistrictThin';
    src: url('DistThin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #D46A05; color: #fff; text-shadow: none; }
::selection { background: #D46A05; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ************
 Page Styles 
 *************/

/* Global Styles */
body {background:#111; font-family:helvetica, sans-serif; color: #333;}
h1 img, h2 img { height:1em; }
.center {display:block; margin:0 auto;}
a {text-decoration:none;}

/* Brand Colors */
.blue { color:#4e6b66; }
.sienna { color:#9e3e00; }
.orange { color:#d46a05; }
.grey { color:#666; }
.black { color:#333; }

/* Typography */
.title{font-family:'BebasNeueRegular';}
.title img {max-width:100%;}
h1 {-webkit-margin-before: 0; -webkit-margin-after: 0;}
h1 {font-size:4em; margin: 0; line-height: 1em;}
h2 {font-size:2em;}
p { font-size:1.4em; }

/* Animation Styles */
#supersized, header { opacity:0; }

/* Global CSS3 Effects */
.shadow {
-moz-box-shadow: 0 0 5px #111;
-webkit-box-shadow: 0 0 5px #111;
box-shadow: 0 0 5px #111;
}

/* Global & Main Containers */
header { display: block; width:90%; margin:0 auto; }
section, footer {display: block; width:100%; margin:0;}
section {background:#fff; padding:1em 0;}
hgroup, section article { margin:0 auto; }
article, #bukatyWrapper {max-width: 1200px; width:90%;}

/* Navigation */
nav {background:url(../img/canvasTexture.jpg); position:fixed; top:0; left:0; width:100%; padding: 0.5em 0; z-index:1000;}
nav a, nav a:visited, nav a:active {font-size:2em; margin-left:1em; color:#666; font-family:'BebasNeueRegular', sans-serif; text-transform:uppercase;}
nav a:hover {color:#333;}
hgroup {width:90%;}
#mainLogo {float:left;}
#mainLogo {min-width:10%; max-width:30%;}
#mainNav {float:right; text-align:right; margin-top:1.2%;}
#buyPrints {color:#d46a05;}
#buyPrints:hover {color:#000;}


/* Header */
#banner {display: block; width:100%; max-width:1920px; margin:0 auto;}
header {position: relative;}
header article {margin-top:30%; float:right; background:#fff; padding:2em 1em 1em; width:40em; border:1px solid #666;}

/* About */
#about { background: url(../img/canvasTexture.jpg) #fff repeat-x; padding:4em 0 4em; margin-top:-2.5%;}
#about article {padding-top:2em;}

/* Bukaty */
#bukatyHeader {background:url(../img/bukatySpot_bkground.jpg) repeat-x left top; background-size:auto 100%; width:100%; height:auto; position: relative; z-index:200;}
#bukatyWrapper {display:block; margin:0 auto; text-align:center;}
img#JohnBukaty {margin-top: -3.2em; z-index:900; width:60%; margin-right:10%;}
#bukaty {background:#4054a5; color:#fff; z-index:300; position: relative; padding:1em 0;}
#bukaty article h1 {display: block; width:100%;}
#bukaty article img {float:right; width:50%;}

/* Seen At */
#seenAt {padding-bottom:0;border-bottom:1px solid #111;}
#seenAt h1 {padding:0.5em; border-bottom:1px solid #999;}
#seenAt_Logos {text-align:center;}
#seenAt_Logos img {padding:1em 1%; max-width:23%; max-height:7.5em;}

/* Gallery */
#galleriaWrap {background:#fff;}
#galleria {width:100%;}
.galleria-thumbnails {margin:0 auto;}

/* Events */
#events{
 background:url(../img/canvasTexture.jpg);
}
#events .ui-upcoming-events{
  margin: 55px auto 30px;
  display: block;
}
#events table{
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 918px;
}
#events a{
  color: #D0D0CE;
}
#events th{
  text-transform: uppercase;
  color: #5A5E5F;
  padding: 0 8px;
  text-align: left;
  position: relative;
  top: 12px;
}
#events td{
  background: #61605E;
  padding: 4px 8px;
  color: #D0D0CE;
}
#events .info{
  text-align: right;
}

/* Contact */
#contact{
  background: #deeaf6;
  background-size: auto 100%;
  padding-bottom:0;
  overflow: hidden;
  color: #656565;
  padding-top: 30px;
}
#contact form{
  margin: auto;
  width: 918px;
}
#contact label{
  display: block;
  font-size: 52px;
  text-transform: uppercase;
  font-family: 'BebasNeueRegular', sans-serif;
}
#contact textarea,
#contact [type="text"]{
  width: 506px;
  padding: 8px;
}
#contact textarea{
  height: 120px;
  resize: none;
}
#contact .book-prompt{
  float: none;
  overflow: hidden;
  padding-top: 68px;
  line-height: 3.5em;
}
#contact .footer-bg{
  /* margin: -10% 0 -3%; */
  width: 100%;
}
#contact .left{
  margin-right: 65px;
  float: left;
}
#contact .submit{
  display: block;
  overflow: hidden;
  clear: both;
}
#contact [type="submit"]{
  display: block;
  margin: 40px auto 0;
  text-transform: uppercase;
  padding: 5px 100px;
  background: #CCCCCC;
  font-size: 30px;
  font-family: 'BebasNeueRegular', sans-serif;
  color: #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.book-prompt .cta{
  color: #D46A05;
}

.error{
  display: none;
}

.checkbox{
  display: block;
  height: 50px;
  width: 50px;
  float: left;
  background: url(../img/formState_blank.png) no-repeat #fff;
  margin-right: 10px;
}
.checkbox.checked{
  background: url(../img/formState_checked.png) no-repeat #fff;
}
#interest-checkbox{
  margin-top: 36px;
  line-height: 3em;
}
#interest-checkbox label{
  display: inline;
  text-transform: none;
  font-family: Arial;
  font-size: 44px;
}

/* Footer */
footer {text-align: center; padding:0.2em 0; background:#333; color:#fff;}

/* ************
 Plugin Styles 
 *************/

/*Supersize Plugin Styles*/
body { height:100%; }
img{ border:none; }
#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}
#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img{ width:auto; height:auto; position:relative; outline:none; border:none; }
#supersized a { z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; display:block; }
#supersized a.image-loading { background:#4a6c87 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }

/* Galleria Plugin Styles */
#galleria{height:35em; min-height:10em; max-height:50em;}
.galleria-image-nav-right, .galleria-image-nav-left, .galleria-thumb-nav-left, .galleria-thumb-nav-right {background-color:#666;}
.galleria-image-nav-right {border-right: 1em solid #666;}
.galleria-image-nav-left {border-left: 1em solid #666;}

/* ************
 Device Styles 
 *************/

/* Smaller than standard 1200 (devices and browsers) */
  @media only screen and (max-width: 1200px) {
   /* Navigation */
   #mainLogo {display: block; margin:0 auto; float:none;}
   #mainNav {display: block; float: none; text-align:center; clear:both; line-height: 0; padding: 1.2em 0 0.2em;}

   /* Header */
   header article {margin-top:50%;}
   }

/* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 960px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) { }

/* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    /* Typography */
    h1 {font-size:2em;}

    /* Nav */
    nav { position:inherit; top:auto; text-align:center; }
    #mainLogo {width:70%; max-width:70%; float: none;}
    #mainNav a {display: none;}
    #buyPrints {display: block !important; margin:0; font-size:3em; line-height:1em;}

    
    /* Header */
    header article.shadow {float: none; width: 90%; margin: 50% auto 0; padding: 5%;}
    header article.shadow img {display: block; margin:0 auto;}

    /* Content */
    body {font-size:0.8em;}
    section {width:100%;}
    section article {width:80%;}
    article img {width:100%; height:auto; display: block; margin:0 auto;}

    /* Bukaty */
    img#JohnBukaty {width:100%; margin-right:0;}
    #bukaty article img {display: block; float: none; width:100%;}

    /* Seen At */
    #seenAt_Logos img {max-width:30%;}


  }

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* Header */
    header article.shadow {margin: 25% auto 0;}
   }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 480px) {
    /* Nav */
    nav {text-align:center;}
    #mainLogo { width:80%;}

    /* Header */
    header article.shadow {margin: 60% auto 0;}
   }


.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
